name: Post
on:
  schedule:
    - cron: '0,30 * * * *'
  workflow_dispatch: ~

jobs:
  post:
    runs-on: ubuntu-latest
    env:
      GOOGLE_IMAGE_API_KEY: ${{ secrets.GOOGLE_IMAGE_API_KEY }}
      GOOGLE_IMAGE_API_SECRET: ${{ secrets.GOOGLE_IMAGE_API_SECRET }}
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
      BLUESKY_USERNAME: ${{ secrets.BLUESKY_USERNAME }}
      BLUESKY_PASSWORD: ${{ secrets.BLUESKY_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '28'
          elixir-version: '1.19'
      - name: Retrieve Cached Dependencies
        uses: actions/cache@v4
        id: mix-cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-23-1.13-${{ hashFiles('mix.lock') }}

      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
          mix deps.compile
      - name: Post Update
        run: |
          mix every_lot_bot.post_update
          git config --global user.email "bot@mitchellhenke.com"
          git config --global user.name "Mitchell Henke (Bot)"
          git add data.csv
          git commit -m 'Posting'
          git push origin
